rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow get: if isSignedIn();
      allow create: if isNotExist();
      allow update: if request.auth.uid == userId;
    }

    match /posts/{postId} {
      allow read;
      allow create: if isSignedIn() && isNotExist();
      allow update, delete: if isSignedIn() && request.auth.uid == resource.data.userId;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isNotExist() {
      return resource == null;
    }

  }
}
