<button routerLink="/">Go Back</button>
<ng-container *ngIf="post">
  <h2 [innerText]="post.title"></h2>
  <h3>Score: {{ post.score }}</h3>
  <button (click)="toggleVote()">
    <ng-container *ngIf="userAlreadyVoted">Down Vote</ng-container>
    <ng-container *ngIf="!userAlreadyVoted">Up Vote</ng-container>
  </button>
  <p [innerText]="post.body"></p>
</ng-container>

<app-comments [postId]="postId"></app-comments>
<!--<button (click)="removeThisPost()" *ngIf="post.userId == user.uid">Remove</button>-->
<button (click)="removeThisPost()">Remove</button>
